
.header-bg{
    background: transparent linear-gradient(91deg, #A31193 0%, #1E1340 100%) 0% 0% no-repeat padding-box;
}
.header-ht {
    height: 100px;
  }
  
  @media only screen and (max-width: 600px) {
    .header-ht {
      height: 65px;
    }
  }

/* .logo-title{
    font-size: 1rem;
    font-family: 'poggersbold' !important;
    letter-spacing: 0px;
color: #FFFFFF;
} */