.p-dialog.primaryDialog {
    border-radius: 22px !important;
}
p-dialog .p-dialog.primaryDialog .p-dialog-header {
    background: transparent linear-gradient(46deg, #E8B652 0%, #BF335B 100%) 0% 0% no-repeat padding-box !important;
    border-top-right-radius: 22px !important;
    border-top-left-radius: 22px !important;
    color:#fff !important;
    font-size: 1.2em; font-family: 'Avenir Black';
    justify-content: center;
    padding: 1.2em !important;
}
p-dialog .p-dialog.primaryDialog .p-dialog-footer {
    border-bottom-right-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
}
.p-dialog.primaryDialog .p-dialog-header .p-dialog-header-icon {
    position: absolute;
    right: 10px  !important;
    background: #fff !important;
    width: 1rem !important;
    height: 1rem !important;top: 10px;
}
.p-dialog.primaryDialog .p-dialog-header .pi{
    color: #BF335B !important;
    font-size: 0.5rem !important;
    font-weight: bold !important;
}
p-dialog .p-dialog.primaryDialog .dialog-logo-title {
    text-align: center;
    margin: 10px 0px;
}
p-dialog .p-dialog.primaryDialog .dialog-logo-title img{
    max-width: 200px;
}


p-dialog .p-dialog.captainDialog .p-dialog-header{
    background: transparent linear-gradient( 219deg , #1E1450 0%, #0E348A 50%, #8E1281 100%) 0% 0% no-repeat padding-box;
    color:#fff;
    padding:1rem
}
